body {
    text-align: center;
}

.home-bg {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: relative;
}

.trailer-link {
    color: gold;
}

.trailer-link:hover {
  color: orange;
}

.main-bg {
    background-color: orange;
}

.flashes {
    color: green;
    padding: 30px;
}

.form-login {
    margin-top: 45px;
    padding: 30px;
}

.form-login a {
    color: darkgoldenrod;
    text-decoration: none;
}

.form-login a:hover {
    font-size: 110%;
}


/* Media queries for extra small devices */
@media only screen and (max-width: 600px) {
    body {
        font-size: 90%;
    }
}

/* Media queries for small devices */
@media only screen and (min-width: 600px) {
    .card-body {
        padding: 0.3;
    }
}
