body {
    text-align: center;
}

.main-bg {}

.flashes {
    color: green;
    padding: 30px;
}

.form-login {
    margin-top: 45px;
    padding: 30px;
}

.form-login a {
    color: darkgoldenrod;
    text-decoration: none;
}

.form-login a:hover {
    font-size: 110%;
}