{% extends "base.html" %}
{% block page %}
    <div class="col-12 pages-header-bg">
        <div class="col-12">
            <h2 class="pages-header">Add Review</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <form class="col-10 offset-1 review-form" method="POST" action="{{ url_for('add_review') }}">
        <!-- movie title -->
        <div class="form-row">
            <div class="col-10 offset-1">
                <div class="row mb-3">
                    <label for="movie_name" class="col-sm-2 col-form-label">Movie Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="movie_name" class="form-control form-control-lg" id="movie_name" minlength="3"
                            maxlength="100" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- movie info -->
        <div class="form-row form--movie-input">
            <div class="col-10 offset-1">
                <div class="row mb-1">
                    <label for="year" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                        <input type="number" name="year" class="form-control" id="year" placeholder="Year" minlength="4"
                            maxlength="4" required>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="genre" class="col-sm-2 col-form-label">Genre</label>
                    <div class="col-sm-10">
                        <input type="text" name="genre" class="form-control" id="genre" placeholder="Adventure, Comedy, Drama, Action..." minlength="5"
                            maxlength="30" required>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="director" class="col-sm-2 col-form-label">Director</label>
                    <div class="col-sm-10">
                        <input type="text" name="director" class="form-control" id="director" placeholder="Director" minlength="5"
                            maxlength="80">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="main_cast" class="col-sm-2 col-form-label">Main Cast</label>
                    <div class="col-sm-10">
                        <input type="text" name="main_cast" class="form-control" id="main_cast" placeholder="Main Actors" minlength="5"
                            maxlength="120">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="trailer" class="col-sm-2 col-form-label">Trailer</label>
                    <div class="col-sm-10">
                        <input type="text" name="trailer" class="form-control" id="trailer" placeholder="Link to Trailer" minlength="5"
                            maxlength="120">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="movie_image_link" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input type="text" name="movie_image_link" class="form-control" id="movie_image_link" placeholder="Add a link to Movie Poster" minlength="5"
                            maxlength="80">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="synopsis" class="col-sm-2 col-form-label">Synopsis</label>
                    <div class="col-sm-10">
                        <textarea name="synopsis" class="form-control" placeholder="Synopsis" rows="3" maxlength="300"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-6">

                <!-- add to watchlist -->
                <!-- <div class="row watch-lists-collapse">
                    <div class="col-12">
                        <a class="btn btn-outline-light btn-sm" data-toggle="collapse" href="#collapse-lists" role="button"
                            aria-expanded="false" aria-controls="collapse-lists">
                            Add to my list
                        </a>
                        <div class="collapse" id="collapse-lists">
                            <button class="btn btn-outline-light btn-sm">watching</button>
                            <button class="btn btn-outline-light btn-sm">to watch</button>
                            <button class="btn btn-outline-light btn-sm">watched</button>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>

        <!-- review input -->
        <h5>Review this Movie</h5>
        <div class="form-row">
            <div class="col-10 offset-1">
                <div class="row mb-3">
                    <div class="col-sm-2">
                        rate
                    </div>
                    <div class="col-sm-10">
                        <textarea name="synopsis" class="form-control" id="textarea" rows="2"
                        placeholder="What did you like about this movie?"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- submit and cancel buttons -->
        <div class="form-row text-center">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-light btn-sm btn-submit-review">Edit this Movie</button>
                <a href="{{ url_for('get_reviews') }}" class="btn btn-light btn-sm btn-submit-review" role="button">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}