{% extends "base.html" %}
{% block page %}
    <div class="col-12 pages-header-bg">
        <div class="col-12">
            <h2 class="pages-header">Add New Movie</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <form class="col-10 offset-1 review-form text-container" method="POST" action="{{ url_for('add_movie') }}">
        <div class="form-row form-row-div">
            <div class="col-10 offset-1">

                <!-- movie title -->
                <div class="row mb-1">
                    <label for="movie_name" class="col-sm-2 col-form-label"><h4>Movie Name</h4></label>
                    <div class="col-sm-10">
                        <input type="text" name="movie_name" class="form-control form-control-lg" placeholder="Movie Name" minlength="3" 
                            maxlength="100" required>
                    </div>
                </div>

                <!-- movie info -->
                <div class="row mb-1">
                    <label for="year" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                        <input type="number" name="year" class="form-control" id="year" placeholder="Year" minlength="4"
                            maxlength="4" required>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="genre" class="col-sm-2 col-form-label">Genre</label>
                    <div class="col-sm-10">
                        <input type="text" name="genre" class="form-control" id="genre" placeholder="Adventure, Comedy, Drama, Action..." minlength="5"
                            maxlength="30" required>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="director" class="col-sm-2 col-form-label">Director</label>
                    <div class="col-sm-10">
                        <input type="text" name="director" class="form-control" id="director" placeholder="Director" minlength="5"
                            maxlength="80">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="main_cast" class="col-sm-2 col-form-label">Main Cast</label>
                    <div class="col-sm-10">
                        <input type="text" name="main_cast" class="form-control" id="main_cast" placeholder="Main Actors" minlength="5"
                            maxlength="120">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="trailer" class="col-sm-2 col-form-label">Trailer</label>
                    <div class="col-sm-10">
                        <input type="text" name="trailer" class="form-control" id="trailer" placeholder="Link to Trailer" minlength="5"
                            maxlength="120">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="movie_img_link" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input type="text" name="movie_img_link" class="form-control" id="movie_img_link" placeholder="Add a link to Movie Poster" minlength="5"
                            maxlength="200">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="synopsis" class="col-sm-2 col-form-label">Synopsis</label>
                    <div class="col-sm-10">
                        <textarea name="synopsis" class="form-control" placeholder="Synopsis" rows="2" maxlength="300"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit & Cancel buttons -->
        <div class="form-row form-row-div">
            <div class="col-10 offset-1 mx-auto">
                <button type="submit" class="btn btn-light btn-sm green-btn">Add this Movie</button>
                <a href="{{ url_for('get_movies') }}" class="btn btn-light btn-sm green-btn" role="button">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}