<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init("user_B14UevRtlfRgzRXYT3bx2");
        })();
    </script>
    {% block styles %}
    {% endblock %}

    <title>TV SHOWS REVIEWS</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark nav-bar text-container">

            <!-- Page Logo -->
            <a class="navbar-brand movie-journal-icon" href="{{ url_for('get_movies') }}"><img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Movie Journal"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- NavBar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_movies') }}">Home</a>
                    </li>
                    {% if session.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                        </li>
                        {% if session.user|lower == "admin"|lower %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('add_movie') }}">Add New Movie</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                    {% endif %}
                    <li>

                        <!-- Search -->
                        <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_movie') }}" method="POST">
                            <input class="form-control form-control-sm mr-sm-2" type="text" name="query" id="query" minlength="3" placeholder="Search movie" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row text-center">
                        <div class="col-8 offset-2 flashes">
                            <h6>{{ message }}</h6>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main>
        <div class="container-fluid">

            <!-- header -->
            <div class="row">
                {% block page %}
                {% endblock %}
            </div>
            
            <!-- main content -->
            <div class="row py-3 px-md-3">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="container-fluid footer-container text-container">
        <div class="row">
            <div class="col-6 text-left footer-element">
                <p class="text-left"><small>For educational purposes only</small></p>
            </div>
            <div class="col-6 text-right footer-element">
                <ul class="list-inline social-media">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com/" target="_blank">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sendEmail.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    
</body>
</html>