{% extends "base.html" %}
{% block content %}


    <div class="container-fluid movie-page">
        <div class="row movie-page-row">
            <div class="col-md-6">

                <!-- Back to main page // edit & delete buttons ONLY ADMIN -->
                <div class="movie-header-btns text-right">
                    {% if session.user|lower == "admin"|lower %}
                        <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" class="btn btn-light edit-delete-btn"
                            role="button">Edit</a>
                        <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn btn-light edit-delete-btn"
                            role="button">Delete</a>
                    {% endif %}
                    <a href="{{ url_for('get_movies') }}" class="btn btn-light edit-delete-btn" role="button">Back to Home</a>
                </div>

                <!-- image -->
                <img src="{{ movie.movie_img_link }}" class="movie-page-img" alt="{{ movie.name }}">

                <!-- watchlist -->
                <!-- <div class="watch-lists-collapse">
                    <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapse-lists" role="button"
                        aria-expanded="false" aria-controls="collapse-lists">
                        Add to my list
                    </a>
                    <div class="collapse input-group" id="collapse-lists">
                        {% if session.user %}
                            <label class="btn btn-outline-dark btn-sm">
                                <input type="checkbox" name="watching_list" id="watching_list" checked> Watching
                            </label>
                            <label class="btn btn-outline-dark btn-sm">
                                <input type="checkbox" name="to_watch_list" id="to_watch_list"> To Watch
                            </label>
                            <label class="btn btn-outline-dark btn-sm">
                                <input type="checkbox" name="watched_list" id="watched_list"> Watched
                            </label>
                        {% else %}
                        <p>You need to
                            <a href="{{ url_for('login') }}">login</a> or
                            <a href="{{ url_for('register') }}">register</a> first!</p>
                        {% endif %}
                    </div>

                </div> -->
            </div>
            <div class="col-md-6 text-left align-self-center order-md-first">
                <!-- movie title -->
                <h2 class="movies-header">{{ movie.movie_name }}</h2>
                
                <!-- movie info -->
                <p>
                    <span class="movie-info">Year:</span> {{ movie.year }}<br>
                    <span class="movie-info">Genre:</span> {{ movie.genre }}<br>
                    <span class="movie-info">Director:</span> {{ movie.director }}<br>
                    <span class="movie-info">Main Cast:</span> {{ movie.main_cast }}<br>
                    <a href="{{ movie.year }}"><span class="movie-info movie-info-link">Watch Trailer</span></a>
                </p>
                <h6 class="movie-info">Synopsis</h6>
                <p class="movie-synopsis comment more">{{ movie.synopsis }}</p>

            </div>
        </div>

        <!-- reviews section -->
        <div class="row movie-page-row">
            <div class="col-12 col-md-10 offset-md-1">

                <h4 class="reviews-title"><span>Reviews</span></h4>

                <!-- user's input -->
                {% if session.user %}
                <form method="POST" action="{{ url_for('display_movie', movie_id=movie._id) }}">
                    <div class="form-group">
                        <textarea name="user_review" class="form-control" id="textarea" rows="2"
                            placeholder="What did you think about this movie?"></textarea>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn btn-light btn-sm btn-submit-review">Submit my review</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <p>
                    <a href="{{ url_for('login') }}">Log in</a> or
                    <a href="{{ url_for('register') }}">register</a> and leave your own review about {{ movie.name }}
                </p>
                {% endif %}

                <!-- other user's reviews -->
                <div class="row comment-section">
                    {% if reviews|length > 0 %}
                        {% for review in reviews %}
                            <div class="col-12 comment-text">
                                <p class="comment more">{{ review.user_review }}</p>
                                <small class="text-right comment-footer">By: {{ review.created_by }} </small>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 comment-text">
                            <p>·  No reviews available for this movie yet  ·</p>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
 
{% endblock %}