{% extends "base.html" %}
{% block page %}
    <div class="col-12 pages-header-bg">
        <div class="col-12">
            <h2 class="pages-header">{{ movie.movie_name }}</h2>
        </div>
    </div>
{% endblock %}

{% block content %}


    <div class="container-fluid movie-page">
        <div class="row movie-page-row">

            <!-- edit / delete buttons ADMIN-->
            {% if session.user|lower == "admin"|lower %}
                <div class="card-header text-right">
                    <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" class="btn btn-light edit-delete-btn"
                        role="button">Edit</a>
                    <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn btn-light edit-delete-btn"
                        role="button">Delete</a>
                </div>
            {% endif %}
        </div>


        <!-- movie title -->
        <div class="row movie-page-row">
            <div class="col-10">
                <h3 class="card-title">{{ movie.movie_name }}</h3>
            </div>
            <div class="col-2">
                rate
            </div>
        </div>

        <!-- movie info -->
        <div class="row movie-page-row movie-page-row-main">
            <div class="col-md-6 text-left align-self-center">
                <p>
                    <span class="movie-info">Year:</span> {{ movie.year }}<br>
                    <span class="movie-info">Genre:</span> {{ movie.genre }}<br>
                    <span class="movie-info">Director:</span> {{ movie.director }}<br>
                    <span class="movie-info">Main Cast:</span> {{ movie.main_cast }}<br>
                    <a href="{{ movie.year }}"><span class="movie-info movie-info-link">Watch Trailer</span></a>
                </p>
                <h6 class="movie-info">Synopsis</h6>
                <p class="movie-synopsis comment more">{{ movie.synopsis }}</p>

            </div>
            <div class="col-md-6">

                <!-- image -->
                <img src="{{ movie.movie_img_link }}" class="movie-page-img" alt="{{ movie.name }}">

                <!-- watchlist -->
                <!-- <div class="watch-lists-collapse">
                    <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapse-lists" role="button"
                        aria-expanded="false" aria-controls="collapse-lists">
                        Add to my list
                    </a>
                    <div class="collapse" id="collapse-lists">
                        {% if session.user %}
                        <button class="btn btn-outline-dark btn-sm">watching</button>
                        <button class="btn btn-outline-dark btn-sm">to watch</button>
                        <button class="btn btn-outline-dark btn-sm">watched</button>
                        {% else %}
                        <p>You need to
                            <a href="{{ url_for('login') }}">login</a> or
                            <a href="{{ url_for('register') }}">register</a> first!</p>
                        {% endif %}
                    </div>

                </div> -->
            </div>
        </div>

        <!-- reviews section -->
        <h4 class="reviews-title"><span>Reviews</span></h4>
        <div class="row movie-page-row">
            <div class="col-12 col-md-10 offset-md-1">

                <!-- user's input -->
                {% if session.user %}
                <form method="POST" action="{{ url_for('display_movie', movie_id=movie._id) }}">
                    <div class="form-group">
                        <textarea name="synopsis" class="form-control" id="textarea" rows="2"
                            placeholder="What did you like about this movie?"></textarea>
                        <div class="row">
                            <div class="col-6 text-left">
                                rating in stars
                            </div>
                            <div class="col-6 text-right">
                                <button class="btn btn-light btn-sm btn-submit-review">Submit my review</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <p>
                    <a href="{{ url_for('login') }}">Log in</a> or
                    <a href="{{ url_for('register') }}">register</a> and leave your own review about {{ movie.name }}
                </p>
                {% endif %}

                <!-- other user's reviews -->
                {% if reviews|length > 0 %}
                <div class="row comment-section">
                    <div class="col-12 comment-text">
                        <p class="comment more">{{ reviews.review }}</p>
                        <small class="text-right comment-footer">By: {{ movie.created_by }} on {created when?}</small>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
 
{% endblock %}