{% extends "base.html" %}
{% block page %}
    <div class="col-12 pages-header-bg">
        <div class="col-12">
            <h2 class="pages-header">Edit your Review</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <form class="col-10 offset-1 review-form text-container" method="POST" action="{{ url_for('edit_review', movie_id=movie._id) }}"></form>
        
        <!-- Cancel & Delete buttons -->
        <div class="col-12 div-header text-right">
            <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="btn btn-light orange-btn" role="button">Delete</a>
            <a href="{{ url_for('get_movies') }}" class="btn btn-light orange-btn" role="button">Cancel</a>
        </div>
        
        <div class="col-12 text-center edit-review-heading">
            <h4>Edit your Review</h4>
            <p>Did you change your mind about {{ movie.movie_name }}?</p>
        </div>
        
        <!-- user's input -->
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <textarea name="form-control synopsis" class="form-control" rows="4" maxlength="300"></textarea>
                    </div>
                </div>
            </div>
        
            <!-- Submit button -->
            <div class="form-row form-row-div">
                <div class="col-10 offset-1 mx-auto">
                    <button type="submit" class="btn btn-light btn-sm green-btn">Edit this Movie</button>
                </div>
            </div>
        </form>

{% endblock %}