{% extends "base.html" %}
{% block page %}
    <div class="col-12 pages-header-bg">
        <div class="col-12">
            <h2 class="pages-header">Edit your Review</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <form class="col-10 offset-1 review-form" method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}">
        <div class="form-row form-row-div">
            <div class="col-10 offset-1">

                <!-- movie title -->
                <div class="row mb-1">
                    <label for="movie_name" class="col-sm-2 col-form-label"><h4>Movie Name</h4></label>
                    <div class="col-sm-10">
                        <input value="{{ movie.movie_name }}" type="text" name="movie_name" class="form-control form-control-lg" id="movie_name" minlength="3"
                            maxlength="100" required>
                    </div>
                </div>

                <!-- movie info -->
                <div class="row mb-1">
                    <label for="year" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                        <input value="{{ movie.year }}" type="number" name="year" class="form-control" id="year" minlength="4"
                            maxlength="4" required>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="genre" class="col-sm-2 col-form-label">Genre</label>
                    <div class="col-sm-10">
                        <input value="{{ movie.genre }}" type="text" name="genre" class="form-control" id="genre" minlength="5"
                            maxlength="30" required>
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="director" class="col-sm-2 col-form-label">Director</label>
                    <div class="col-sm-10">
                        <input value="{{ movie.director }}" type="text" name="director" class="form-control" id="director" minlength="5"
                            maxlength="80">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="main_cast" class="col-sm-2 col-form-label">Main Cast</label>
                    <div class="col-sm-10">
                        <input value="{{ movie.main_cast }}" type="text" name="main_cast" class="form-control" id="main_cast" minlength="5"
                            maxlength="120">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="trailer" class="col-sm-2 col-form-label">Trailer</label>
                    <div class="col-sm-10">
                        <input value="{{ movie.trailer }}" type="text" name="trailer" class="form-control" id="trailer" minlength="5"
                            maxlength="120">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="movie_img_link" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input value="{{ movie.movie_img_link }}" type="text" name="movie_img_link" class="form-control" id="movie_img_link" minlength="5"
                            maxlength="200">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="synopsis" class="col-sm-2 col-form-label">Synopsis</label>
                    <div class="col-sm-10">
                        <textarea name="synopsis" class="form-control" rows="3" maxlength="300">
                            {{- movie.synopsis -}}
                        </textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit & Cancel buttons -->
        <div class="form-row form-row-div">
            <div class="col-10 offset-1 mx-auto">
                <button type="submit" class="btn btn-light btn-sm btn-submit-review">Edit this Movie</button>
                <a href="{{ url_for('get_movies') }}" class="btn btn-light btn-sm btn-submit-review" role="button">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}