{% extends "base.html" %}
{% block page %}
    <div class="col-12 pages-header-bg">
        <div class="col-12">
            <h2 class="pages-header">Log In</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{{ url_for('login') }}">
                    <!-- username -->
                    <div class="form-group">
                        <i class="fas fa-user-cog prefix"></i>
                        <label for="username">Username</label>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                    </div>
                    <!-- password -->
                    <div class="form-group">
                        <i class="fas fa-user-lock prefix"></i>
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                    </div>
                    <!-- login button -->
                    <button type="submit" class="btn btn-outline-light green-btn">Submit</button>
                    <!-- register option -->
                    <div class="form-group form-login">
                        <h6 class="card-subtitle mb-2 text-muted">If you don't have an account yet, <br>
                            <a href="{{ url_for('register') }}">register here!</a></h6>
                    </div>
                </form>
                
                
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
    </div>

{% endblock %}