{% extends "base.html" %}
{% block page %}
    <div class="col-12 home-header-bg">
        <div class="col-md-8 offset-lg-3 text-end">
            <h1 class="home-header"> MOVIE<br>
                JOURNAL
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-12 card-group">
        {% for movie in movies %}
        <div class="card movie-card-display">
            <div class="card-body">
                <img src="{{ movie.movie_img_link }}" class="card-img">
                <h6 class="card-title">{{ movie.movie_name }}</h6>
            </div>
            <div class="card-footer">

                <!-- Display Movie button -->
                <a href="{{ url_for('display_movie', movie_id=movie._id) }}" class="btn plus-btn" role="button" data-target="#id_{{ movie._id }}"><i class="far fa-plus-square"></i></a>
                <!-- <button type="button" class="btn plus-btn" data-toggle="modal" data-target="#id_{{ movie._id }}"><i class="far fa-plus-square"></i></button> -->
                
            </div>
        </div>
   
        {% endfor %}
    </div>

{% endblock %}