{% extends "base.html" %}
{% block page %}
    <div class="col-12 home-header-bg">
        <div class="col-md-8 offset-lg-3 text-end">
            <h1 class="home-header"> MOVIE<br>
                JOURNAL
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-12 card-group">
        <div class="row">
            {% for movie in movies %}
                <div class="col-3 col-md-2 col-lg-1 card movie-card-display">
                    <div class="card-body">
                        <img src="{{ movie.movie_img_link }}" class="card-img">
                        <h6 class="card-title">{{ movie.movie_name }}</h6>
                    </div>
                    <div class="card-footer">

                        <!-- Display Movie button -->
                        <a href="{{ url_for('display_movie', movie_id=movie._id) }}" class="btn plus-btn" role="button" data-target="#id_{{ movie._id }}"><i class="far fa-plus-square"></i></a>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-md-8 offset-2 suggestion-container text-container">
        <p>Let us know if you're missing any movies!</p>
        <form onsubmit="return sendMail(this);" class="suggestion-form">
            <div class="row">
                <div class="col-6 suggestion-item">
                    <input name="name" type="text" class="form-control form-control-sm" placeholder="Your Name" required>
                </div>
                <div class="col-6 suggestion-item">
                    <input name="emailaddress" type="email" class="form-control form-control-sm" placeholder="Your Email"
                        required>
                </div>
                <div class="col-12 suggestion-item">
                    <input name="moviesuggestion" type="text" class="form-control form-control-sm"
                        placeholder="Your Movie Suggestion" required>
                </div>
                <div class="col-12 suggestion-item">
                    <button type="submit" class="btn btn-outline-light green-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
    
    
    </div>

    <!-- <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="row suggestion-container">
            <div class="col-12">
                <p>Let us know if you're missing any movies!</p>
            </div>
            <form onsubmit="return sendMail(this);" class="suggestion-form">
                <div class="row">
                    <div class="col-6 suggestion-item">
                        <input name="name" type="text" class="form-control form-control-sm" placeholder="Your Name" required>
                    </div>
                    <div class="col-6 suggestion-item">
                        <input name="emailaddress" type="email" class="form-control form-control-sm" placeholder="Your Email"
                            required>
                    </div>
                    <div class="col-12 suggestion-item">
                        <input name="moviesuggestion" type="text" class="form-control form-control-sm"
                            placeholder="Your Movie Suggestion" required>
                    </div>
                    <div class="col-12 suggestion-item">
                        <button type="submit" class="btn btn-outline-light">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div> -->

{% endblock %}