{% extends "base.html" %}
{% block page %}
    <div class="col-12 pages-header-bg">
        <div class="col-12">
            <h2 class="pages-header">{{ username }}'s Profile</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-10 offset-1 col-md-8 offset-md-2 review-form text-container">
        
        <!-- menu -->
        <div class="row profile-header">
            <div class="col-12 text-right">
                <a href="#" class="btn btn-light profile-btn" role="button">Settings</a>
                <a href="{{ url_for('get_movies') }}" class="btn btn-light profile-btn" role="button">Home</a>

            
            </div>
        </div>

        <div class="form-row form-row-div">
            <div class="col-10 offset-1">

                <h3 class="center-align light-blue-text text-darken-4">
                    Your movie reviews
                </h3>
            
                <!-- other user's reviews -->
                <div class="row comment-section">
                    {% if reviews|length > 0 %}
                        {% for review in reviews %}

                            <div class="col-12 comment-text">
                                <small class="text-right comment-footer">{{ review.movie_name.movie_name }}</small>
                                <p class="comment more">{{ review.user_review }}</p>
                                <!-- Edit/delete review -->
                                <div class="row review-footer">
                                    <div class="col-12 text-right pr-3">
                                        {% if review.created_by == session.user|lower %}
                                            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn btn-light review-btns" role="button">Edit</a>
                                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn btn-light review-btns" role="button">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 comment-text">
                            <p>· You have no reviews yet ·</p>
                            <p>Search for a movie to leave your first review!</p>
                            <!-- Search -->
                            <form class="form" action="{{ url_for('search_movie') }}" method="POST">
                                <input class="form-control form-control-lg" type="text" name="query" id="query" minlength="3"
                                    placeholder="Your favourite movie is..." aria-label="Search">
                                <button class="btn btn-outline-light profile-btn my-2" type="submit">Search</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    


{% endblock %}