{% extends "base.html" %}
{% block page %}
    <div class="col-12 home-header-bg">
        <div class="col-md-8 offset-lg-3 text-end">
            <h1 class="home-header"> MOVIE<br>
                JOURNAL
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-12 card-group">
        {% for movie in movies %}
        <div class="card movie-card-display">
            <div class="card-body">
                <img src="{{ movie.movie_img_link }}" class="card-img">
                <h6 class="card-title">{{ movie.movie_name }}</h6>
            </div>
            <div class="card-footer">

                <!-- button -->
                <button type="button" class="btn plus-btn" data-toggle="modal" data-target="#id_{{ movie._id }}"><i class="far fa-plus-square"></i></button>
                
                <!-- modal -->
                <div class="modal fade bd-example-modal-xl movie-modal" id="id_{{ movie._id }}" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="container-fluid modal-content">

                            <!-- edit / delete buttons -->
                            {% if session.user|lower == movie.created_by|lower %}
                                <div class="card-header text-right">
                                    <a href="{{ url_for('edit_review', movie_id=movie._id) }}" class="btn btn-light edit-delete-btn" role="button">Edit</a>
                                    <a href="{{ url_for('delete_review', movie_id=movie._id) }}" class="btn btn-light edit-delete-btn" role="button">Delete</a>
                                </div>
                            {% endif %}

                            <!-- movie title -->
                            <div class="row movie-modal-row">
                                <div class="col-10">
                                    <h3 class="card-title">{{ movie.movie_name }}</h3>
                                </div>
                                <div class="col-2">
                                    rate
                                </div>
                            </div>

                            <!-- movie info -->
                            <div class="row movie-modal-row movie-modal-row-main">
                                <div class="col-md-6 text-left align-self-center">
                                    <p>
                                        <span class="movie-info">Year:</span> {{ movie.year }}<br>
                                        <span class="movie-info">Genre:</span> {{ movie.genre }}<br>
                                        <span class="movie-info">Director:</span> {{ movie.director }}<br>
                                        <span class="movie-info">Main Cast:</span> {{ movie.main_cast }}<br>
                                        <a href="{{ movie.year }}"><span class="movie-info movie-info-link">Trailer</span></a>
                                    </p>
                                    <h6 class="movie-info">Synopsis</h6>
                                    <p class="movie-synopsis comment more">{{ movie.synopsis }}</p>
                                    
                                </div>
                                <div class="col-md-6">

                                    <!-- image -->
                                    <img src="{{ movie.movie_img_link }}" class="modal-img" alt="{{ movie.name }}">

                                    <!-- watchlist -->
                                    <div class="watch-lists-collapse">
                                        <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapse-lists" role="button"
                                            aria-expanded="false" aria-controls="collapse-lists">
                                            Add to my list
                                        </a>
                                        <div class="collapse" id="collapse-lists">
                                            {% if session.user %}
                                            <button class="btn btn-outline-dark btn-sm">watching</button>
                                            <button class="btn btn-outline-dark btn-sm">to watch</button>
                                            <button class="btn btn-outline-dark btn-sm">watched</button>
                                            {% else %}
                                            <p>You need to
                                                <a href="{{ url_for('login') }}">login</a> or
                                                <a href="{{ url_for('register') }}">register</a> first!</p>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- reviews section -->
                            <h4 class="reviews-title"><span>Reviews</span></h4>
                            <div class="row movie-modal-row">
                                <div class="col-12 col-md-10 offset-md-1">
                                    
                                    <!-- user's input -->
                                    {% if session.user %}
                                        <form>
                                            <div class="form-group">
                                                <textarea name="synopsis" class="form-control" id="textarea" rows="2" placeholder="What did you like about this movie?"></textarea>
                                                <div class="row">
                                                    <div class="col-6 text-left">
                                                        rating in stars
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <button class="btn btn-light btn-sm btn-submit-review">Submit my review</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    {% else %}
                                    <p>
                                        <a href="{{ url_for('login') }}">Log in</a> or 
                                        <a href="{{ url_for('register') }}">register</a> and leave your own review about {{ movie.name }}
                                    </p>
                                    {% endif %}

                                    <!-- other user's reviews -->
                                    {% if reviews|length > 0 %}
                                        <div class="row comment-section">
                                            <div class="col-12 comment-text">
                                                <p class="comment more">{{ movie.review }}</p>
                                                <small class="text-right comment-footer">By: {{ movie.created_by }} on {created when?}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- card footer -->
                            
                        
                        
                        </div>
                    </div>
                </div>
                <!-- endmodal -->

            </div>
        </div>
   
        {% endfor %}
    </div>

{% endblock %}