{% extends "base.html" %}
{% block page %}
    <div class="home-bg-container">
        <!-- <img class="home-bg" src="{{ url_for('static', filename='images/home-bg2.jpg') }}" alt="old camera"> -->
    </div>
{% endblock %}

{% block content %}

    <div class="col-4 col-md-3">
        {% for movie in movies %}
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <!-- <i class="fas fa-plus"></i> -->
                <p class="card-text">
                    {{ movie.year }}<br>
                    {{ movie.genre }}<br>
                    <a href="{{ movie.trailer }}" class="trailer-link">Trailer</a>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}