{% extends "base.html" %}
{% block page %}
    <div class="home-bg-container">
        <!-- <img class="home-bg" src="{{ url_for('static', filename='images/home-bg2.jpg') }}" alt="old camera"> -->
    </div>
{% endblock %}

{% block content %}

    <div class="col-4 col-md-3">
        {% for movie in movies %}
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ movie.movie_name }}</h5>

                <!-- modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="fas fa-plus"></i></button>
                <div class="modal fade bd-example-modal-xl movie-modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="container-fluid modal-content">

                            <!-- movie title -->
                            <div class="row movie-modal-row">
                                <div class="col-10">
                                    <h3 class="card-title">{{ movie.movie_name }}</h3>
                                </div>
                                <div class="col-2">
                                    rate
                                </div>
                            </div>

                            <!-- movie info -->
                            <div class="row movie-modal-row">
                                <div class="col-6 info-modal text-left">
                                    <p>
                                        year: {{ movie.year }}<br>
                                        genre: {{ movie.genre }}<br>
                                        director: {{ movie.director }}<br>
                                        main cast: {{ movie.main_cast }}<br>
                                        <a href="{{ movie.year }}">Trailer</a>
                                    </p>
                                    <h6>Synopsis</h6>
                                    <p class="movie-synopsis comment more">{{ movie.synopsis }}</p>
                                    
                                </div>
                                <div class="col-6">

                                    <!-- image -->
                                    <img src="#" alt="{{ movie.name }}">

                                    <!-- watchlist -->
                                    <div class="row watch-lists-collapse">
                                        <div class="col-12">
                                            <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapse-lists" role="button" aria-expanded="false" aria-controls="collapse-lists">
                                                Add to my list
                                            </a>
                                            <div class="collapse" id="collapse-lists">
                                                {% if session.user %}
                                                    <button class="btn btn-outline-dark btn-sm">watching</button>
                                                    <button class="btn btn-outline-dark btn-sm">to watch</button>
                                                    <button class="btn btn-outline-dark btn-sm">watched</button>
                                                {% else %}
                                                    <p>You need to 
                                                        <a href="{{ url_for('login') }}">login</a> or 
                                                        <a href="{{ url_for('register') }}">register</a> first!</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- reviews section -->
                            <h4 class="reviews-title"><span>Reviews</span></h4>
                            <div class="row movie-modal-row">
                                <div class="col-12 col-md-10 offset-md-1">
                                    
                                    <!-- user's input -->
                                    {% if session.user %}
                                        <form>
                                            <div class="form-group">
                                                <textarea class="form-control" id="textarea" rows="2" placeholder="What did you like about this movie?"></textarea>
                                                <div class="row">
                                                    <div class="col-6 text-left">
                                                        rating in stars
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <button class="btn btn-light btn-sm btn-submit-review">Submit my review</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    {% else %}
                                    <p>
                                        <a href="{{ url_for('login') }}">Log in</a> or 
                                        <a href="{{ url_for('register') }}">register</a> and leave your own review about {{ movie.name }}
                                    </p>
                                    {% endif %}

                                    <!-- other user's reviews -->
                                    <div class="row comment-section">
                                        <div class="col-12 comment-text">
                                            <p class="comment more">opinion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quisquam quae fugiat temporibus assumenda tenetur adipisci error blanditiis saepe ipsam, possimus veritatis asperiores aliquid non qui enim magni vitae libero.</p>
                                            <small class="text-right comment-footer">By: {{ movie.created_by }} on {created when?}</small>
                                        </div>
                                        <div class="col-12 comment-text">
                                            <p class="comment more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quisquam quae fugiat temporibus assumenda tenetur adipisci error blanditiis saepe ipsam.</p>
                                            <small class="text-right comment-footer">Created by: {session.user} on {created when?}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- endmodal -->

            </div>
        </div>
   
        {% endfor %}
    </div>

{% endblock %}